.dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa !important;
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    color: #5e6278 !important;
    transition: color 0.2s ease, background-color 0.2s ease;
}

th {
    font-weight: 600 !important;
    color: #6c757d !important;
}

.table {
    border-color: #eee !important;
}
.table.dataTable thead .sorting {
    background-image: none !important;
}
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
    right: 1.3em !important;
    content: "↑";
}
td {
    vertical-align: middle;
}

label {
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: #3f4254;
}

.btn-white {
    background-color: white !important;
    color: #ef542c !important;
}
.sidebar-expand-lg.layout-fixed .app-sidebar {
    border: 1px solid white;
    border-right: 1px solid #eee;
}
.app-footer {
    border: 1px solid white;
    text-align: end;
}
.sidebar-toggler-btn {
    border-radius: 5px;
    background-color: #ef542c;
    color: white;
    margin-right: 30px;
}
.sidebar-toggler-btn:hover {
    border-radius: 5px;
    background-color: #ef542c;
    color: white;
    margin-right: 30px;
}

.sidebar-toggler-btn:hover,
.sidebar-toggler-btn:focus {
    border-radius: 5px;
    background-color: #ef542c;
    color: white;
    margin-right: 30px;
}
.nav-link.active {
    color: white !important;
    background-color: #ef542c !important;
}
.nav-link.active p,
.nav-link.active i {
    color: white !important;
}

.app-sidebar {
    position: relative;
    height: 100vh; /* Ensure full height of the sidebar */
    display: flex;
    flex-direction: column;
}

.sidebar-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logout-btn-wrapper {
    position: absolute;
    bottom: 0px; /* Adjust this value for spacing */
    width: 100%;
    display: flex;
    justify-content: center; /* Center the button horizontally */
}

.logout-btn {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%; /* Optional, if you want full-width inside the parent */
    text-align: center; /* Optional */
}
.logout-btn button {
    padding: 10px;
    margin-bottom: 5px;
    color: white;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 14px;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    color: #ef542c !important;
    /* background-color: #f765418e !important; */
    border-bottom: 1px solid #eee !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 0px solid #979797 !important;
    background-color: white;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #ef542c),
        color-stop(100%, #ef542c)
    ) !important;
    background: -webkit-linear-gradient(
        top,
        #ef542c 0%,
        #ef542c 100%
    ) !important;
    background: -moz-linear-gradient(top, #ef542c 0%, #ef542c 100%) !important;
    background: -ms-linear-gradient(top, #ef542c 0%, #ef542c 100%) !important;
    background: -o-linear-gradient(top, #ef542c 0%, #ef542c 100%) !important;
    background: linear-gradient(to bottom, #ef542c 0%, #ef542c 100%) !important;
}
.btn-primary {
    background-color: #ef542c !important;
    border: 1px solid #ef542c !important;
    color: white;
}
.btn-primary:hover {
    background-color: transparent !important;
    border: 1px solid #ef542c;
    color: #ef542c;
}
.modal-header {
    background-color: #ef542c !important;
    color: white !important;
}
/* .form-select {
    border: 0;
    background: #eef3f7;
    box-shadow: none;
} */
.form-select {
    --bs-form-select-bg-img: url(
        data:image/svg + xml,
        %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3e%3c/svg%3e
    );
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #eef3f7;
    background-image: var(--bs-form-select-bg-img),
        var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 0;
    border-radius: var(--bs-border-radius);
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}
